a .article {
  border: 1px solid rgb(194, 193, 196);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(189, 185, 185);
}
.articles > * {
  width: 60%;
  min-width: 350px;
}

a .article:hover {
  box-shadow: 1px 1px 3px 3px rgb(189, 185, 185);
}

.article .content {
  font-size: 0.8rem;
}

.article .author {
  font-size: 0.7rem;
  color: rgb(88, 88, 88);
}

.article * {
  margin: 5px;
}
