.activeArticle{
    padding:10%;
    padding-top:120px;
    
}
.activeArticle > *{
    margin:10px;
}

.activeArticle .author{
    color:rgb(88, 88, 88);
    font-size:0.7rem;

}

.activeArticle .content{
    font-size:0.8rem;

}
.activeArticle .title {
    display:flex;
    justify-content: space-between;
}
.activeArticle .title button{
    border:0;
    font-size:1rem;
    margin-right: 20px;
}

.not-found{
    text-align: center;
}



