.footer{
    position: fixed;
    left:0;
    top:calc(100vh - 36px);
    width: 100%;
    background: linear-gradient(rgb(59, 59, 59),rgb(133, 131, 131));
    padding: 10px 20px;
}

.footer p{
    font-size: 0.7rem;
    color:white;
}